<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Cookbuk Caterer Service</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="public/css" media="screen" href="main.css" />
    <style>
        body {
    background-color: coral;
}
    </style>
</head>
<body>
        <h2>Welcome to Cookbuk</h2>
        <p style="text-align:center;"><img src="/images/logo.jpg" width="1000" height="400"></p>
    <script src="index.js"></script>
    <h2>Types of Events</h2>
    <ul>
        <li>Corporates Event</a></li>
        <li>Birthday Event</a></li>
        <li>Wedding Ceremony Event</a></li>
        <li>Life Ceremony Event</a></li>
    </ul>
    
    <h4>We are serving in these location </h4>
    <ul>
        <li>Indiranagar</li>
        <li>Kormangla</li>
        <li>Marathalli</li>
        <li>Jaynagar</li>
        <li>Domlur</li>
        <!-- <li>Kormangla</li>
        <li>Marathalli</li>
        <li>Whitefield</li>
        <li>Domlur</li>
        <li>JP Nagar</li>
        <li>Jaynagar</li>
        <li>KR Market</li>         -->
     </ul>
     <h5>For booking please click here</h5>
     <form action="/" method="post">
        <select name="Events">
                <option value="Corporates Event">Corporates Event</option>
                <option value="Birthday Event">Birthday Event</option>
                <option value="Wedding Ceremony Event">Wedding Ceremony Event</option>
                <!-- <option value="Life Ceremony Event">Life Ceremony Event</option> -->
              </select>
              <select name="Location">
                    <option value="Indiranagar">Indiranagar</option>
                    <option value="Kormangla">Kormangla</option>
                    <option value="Marathalli">Marathalli</option>
                    <option value="Jaynagar">Jaynagar</option>
                    <option value="Domlur">Domlur</option>
                    <!-- <option value="Kormangla">Kormangla</option>
                    <option value="Marathalli">Marathalli</option>
                    <option value="Domlur">Domlur</option>
                    <option value="JP Nagar">JP Nagar</option>
                    <option value="Jaynagar">Jaynagar</option>
                    <option value="KR Market">KR Market</option> -->
                  </select>
        <!-- <input name="Event" type="text" class="ghost-input" placeholder="Event Name" required> -->
        <!-- <input type="datetime-local" type="text" class="ghost-input" placeholder="Date and Time" required>  -->
        <!-- <input type="Location" type="text" class="ghost-input" placeholder="Location" required>  -->
        <input type="submit" class="ghost-button" value="Get Caterer">
      </form>
    
    

</body>
</html>